.discountTitle{
    color: antiquewhite;
    background-color: grey;
}

.marginColor{
    margin-top: 5%;
    background-color: grey;
}

.discountDiv{
    margin-top: 5%;
    margin-left: -20%;
    margin-bottom: 5%;
}